.App {
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
.body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* .selected-background {
  background-color: #01411C !important;
  color: white !important;
} */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.td {
  padding: 0px 2px !important;
  font-size: 12px !important;
  border: 1px solid rgb(223, 223, 223) !important;
  text-align: center;
  font-family: Verdana !important;
  height: 20px !important;
}

.border-dark {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
}
/* / setting the tbable / */
.sticky-header {
  box-sizing: 0px 0px 3px black;
  border-right: 1px solid black;
  background-color: #c6daf7;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 1;
  border: 1px solid black;
}

.custom-table {
  display: block;
  max-height: 40vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

/* ::-webkit-scrollbar {
  width: 5px;
} */

.custom-table thead,
.custom-table tfoot {
  display: block;
  background: white;
  position: sticky;
  border-bottom: 1px solid black;
}

.custom-table thead {
  top: 0;
  height: 20px;
}

.custom-table tfoot {
  bottom: 0;
  height: 20px;
}

.custom-table th,
.custom-table td {
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  height: 20px;
  border: 1px solid black;
  padding: 0;
  text-align: left;
  min-width: 50px !important;
}

.custom-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  min-width: 50px !important;
}

.sticky-footer {
  box-sizing: 0px 0px 3px black;
  border-right: 1px solid black;
  background-color: #c6daf7;
  position: sticky;
  top: 1;
  /* z-index: 1; */
  border: 1px solid black;
}

/* zebra striping */

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #e7f1ff;
}
tr {
  padding: 0px 2px !important;
  font-size: 12px !important;
  border: 1px solid rgb(223, 223, 223) !important;
  text-align: center;
  font-family: Verdana !important;
  height: 20px !important;
}
td {
  padding: 0px 2px !important;
  font-size: 12px !important;
  border: 1px solid rgb(223, 223, 223) !important;
  text-align: center;
  font-family: Verdana !important;
  height: 20px !important;
}
.company-field {
  display: flex;
  align-items: start;
  justify-content: flex-end;
}

.form-control-account {
  background-color: rgb(248, 248, 248) !important;
  height: 24px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  margin-bottom: 4px;
  margin-left: -10px !important;
}
.form-control-item:focus {
  border: 1px solid #3368b5 !important;
}
.form-control-customer:focus {
  border: 1px solid #3368b5 !important;
}
.form-control-field:focus {
  border: 1px solid #3368b5 !important;
}

.form-control-remarks:focus {
  border: 1px solid #3368b5 !important;
}
input[name="AccountCodeform"]::placeholder {
  color: gray;
}

input[name="Descriptionform"]::placeholder {
  color: gray;
}
input[name="inputform4"]::placeholder {
  color: gray;
}
input[name="inputform5"]::placeholder {
  color: gray;
}
input[name="inputform6"]::placeholder {
  color: gray;
}
input[name="inputform7"]::placeholder {
  color: gray;
}
input[name="inputform8"]::placeholder {
  color: gray;
}
input[name="inputform9"]::placeholder {
  color: gray;
}
input[name="inputform10"]::placeholder {
  color: gray;
}
input[name="inputform11"]::placeholder {
  color: gray;
}
input[name="inputform12"]::placeholder {
  color: gray;
}
input[name="inputform13"]::placeholder {
  color: gray;
}
input[name="inputform14"]::placeholder {
  color: gray;
}

input[name="inputform15"]::placeholder {
  color: gray;
}
input[name="inputform16"]::placeholder {
  color: gray;
}
input[name="inputform17"]::placeholder {
  color: gray;
}
input[name="inputform18"]::placeholder {
  color: gray;
}
input[name="inputform19"]::placeholder {
  color: gray;
}
input[name="inputform20"]::placeholder {
  color: gray;
}
input[name="inputform21"]::placeholder {
  color: gray;
}
input[name="inputform22"]::placeholder {
  color: gray;
}
input[name="inputform23"]::placeholder {
  color: gray;
}
input[name="inputform24"]::placeholder {
  color: gray;
}

input[name="inputform25"]::placeholder {
  color: gray;
}
input[name="inputform26"]::placeholder {
  color: gray;
}
input[name="inputform27"]::placeholder {
  color: gray;
}
input[name="inputform28"]::placeholder {
  color: gray;
}
input[name="inputform29"]::placeholder {
  color: gray;
}
input[name="inputform30"]::placeholder {
  color: gray;
}
input[name="inputform31"]::placeholder {
  color: gray;
}
input[name="inputform32"]::placeholder {
  color: gray;
}
input[name="getname"]::placeholder {
  color: gray;
}
input[name="getmobilenumber"]::placeholder {
  color: gray;
}
input[name="getaddress001"]::placeholder {
  color: gray;
}
input[name="getaddress002"]::placeholder {
  color: gray;
}
input[name="form-control-remarkss"]::placeholder {
  color: gray;
}
input[name="UrduFormDescription"]::placeholder {
  color: gray;
}

input[name="selectedImage1"]::placeholder {
  color: gray;
}
input[name="selectedImage2"]::placeholder {
  color: gray;
}
input[name="selectedImage3"]::placeholder {
  color: gray;
}
input[name="Abb"]::placeholder {
  color: gray;
}
input[name="selectedSearch"]::placeholder {
  color: gray;
}
input[name="ItemModel"]::placeholder {
  color: gray;
}
.label-field {
  font-family: "Arial", sans-serif !important;
  letter-spacing: 0.7px !important;
}
/* Responsive Styles */
/* @media (max-width: 768px) {
  .label-field {
    justify-content: flex-start;
    margin-bottom: 5px;
  }

  .form-control-field {
    width: 100%;
    margin-left: 0 !important;
  }

  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-6,
  .col-sm-7,
  .col-sm-10 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .row > div {
    margin-bottom: 10px;
  }

  .my-modal-file {
    width: 90vw;
    max-width: 90vw;
  }
}

@media (max-width: 576px) {
  .label-field {
    font-size: 14px !important;
  }

  .form-control-field {
    font-size: 14px !important;
  }

  .my-modal-file {
    width: 95vw;
    max-width: 95vw;
  }
} */
