body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.selected-background {
  /* background-color: #01411C !important; */
  background-color: #0058b0 !important;

  color: white !important;
}
.table-scroll::-webkit-scrollbar {
  width: 13px;
}
.table-scroll::-webkit-scrollbar-track {
  background: #e1e1e1 !important;
}
.table-scroll::-webkit-scrollbar-thumb {
  /* background-color: #01411C !important; */
  background-color: #0058b0 !important;

  border-radius: 10px;
}
.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* @font-face {
  font-family: "CustomFont";
  src: url("/src/fonts/Myfont.woff.ttf") format("truetype");
} */
.custom-datepicker {
  height: 24px;
  padding: 5px;
  width: 130px;
  border: 1px solid black;
  font-size: 12px;
  font-family: Verdana;
}

.custom-datepicker input {
  width: 130px;
  /* other styles */
}