.css-1h51icj-MuiAutocomplete-root .MuiAutocomplete-inputRoot {
  display: flex !important;
  flex-wrap: nowrap !important;
}
.css-wb57ya-MuiFormControl-root-MuiTextField-root {
  position: static !important;
  color: #e7e7e7;
}
.css-18nc3u2 .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
  margin-top: -10px !important;
}
.css-ka7ti6-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  color: var(--font-color) !important;
}
.css-i4bv87-MuiSvgIcon-root {
  color: var(--font-color) !important;
}
.custom-table-file::-webkit-scrollbar-track {
  background: var(--background-color) !important;
}
.css-f7t77y .MuiOutlinedInput-root .MuiAutocomplete-input {
  color: var(--font-color) !important;
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* ::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
} */

/* //////////////////////////////////////////////////// */
/* Custom scrollbar */
/* Custom scrollbar */
.MuiAutocomplete-listbox {
  background-color: "white" !important;
}

.MuiAutocomplete-listbox::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.MuiAutocomplete-listbox::-webkit-scrollbar-track {
  background: var(--background-color) !important;
}

.MuiAutocomplete-listbox::-webkit-scrollbar-thumb {
  background: var(--font-color) !important;
  border-radius: 4px; /* Rounded corners */
}

.MuiAutocomplete-listbox::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker black on hover */
}
